@{
    ViewData["Title"] = "Index";
}

<div id="yes">
    <h2>Jslkd</h2> 
</div>


<form data-ajax-mode="replace" data-ajax-update="#yes" action="/Analytics/Test" data-ajax="true" data-ajax-method="post"  data-ajax-complete="completed">
    <input type="submit" value="Submit" />


</form> 

