<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventoryManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="~/InventoryManagementSystem.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Prompt:wght@200;300&family=Saira+Semi+Condensed:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/lib/Script/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://kit.fontawesome.com/ec51af881c.js" crossorigin="anonymous"></script>
</head>
<body>



    <div class="mobile-header">
        <div style="background-color: #367fa9" class="mobile-header-top d-flex justify-content-center align-items-center">
            <p  style="font-size: 18px; color: white; margin: 0px; font-weight: 550;">INVENTORY MANAGEMENT</p>
        </div>
        <div class="row mobile-header-bottom d-flex justify-content-center align-items-center m-0" style="background-color: #3c8dbc" >
            
            <div class="col-12 d-flex justify-content-around align-items-center">
                <a class="mobile-header-links" asp-controller="Home" asp-action="Index">Home</a>
                <a class="mobile-header-links" asp-controller="Order" asp-action="Index">Orders</a>
                <a class="mobile-header-links" asp-controller="Analytics" asp-action="Index">Analytics</a>
                <a class="mobile-header-links" asp-controller="" asp-action="">Clients</a>
                <a class="mobile-header-links" asp-controller="" asp-action="">Products</a>
                
            </div>
        </div>
        
    </div>
    <div class="sidenav">
        
        <div class="profile-photo-div container d-flex justify-content-center align-content-center align-items-center">
            <a asp-controller="Home" asp-action="Index"><img class="logo" src="https://res.cloudinary.com/dmremrlru/image/upload/v1652151736/Inventory_1_ejywba.png" alt="logo" /></a>
        </div>
        <hr style="color: white; margin: 0px; margin: 0px 6px 0px 6px; margin-bottom: 5px; height: 2px;"/>
        <div id="sidenav-links" class="container d-flex flex-column p-0">
            <a asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house" style="margin-right: 13px;"></i>Home</a>
            <a asp-controller="Calender" asp-action="Index"><i class="fa-regular fa-calendar" style="margin-right: 13px;"></i>Calender</a>
            <a asp-controller="Order" asp-action="Index"><i class="fa-regular fa-paste" style="margin-right: 13px;"></i>Orders</a>
            <a asp-controller="Tools" asp-action="Index"><i class="fa-solid fa-wrench" style="margin-right: 13px;"></i>Tools</a>
            <a asp-controller="" asp-action=""><i class="fa-solid fa-dolly" style="margin-right: 13px;"></i>Products</a>
            <a asp-controller="Analytics" asp-action="Index"><i class="fa-solid fa-chart-column" style="margin-right: 13px;"></i>Analytics</a>
        </div> 
        
    </div>
    <div class="nav-header" style="margin: 0px; margin-left: 220px !important;">
        <div class="row m-0 p-0" style="width: calc(100% - 220px);">
            <div class="col-6 p-0 d-flex justify-content-start align-content-center align-items-center">
                <form id="search-by-name-form" action="/Order/SearchByName">
                    <input id="search-by-name-input" type="text" placeholder="Search By Name" name="searchQuery" />
                    <button id="search-by-name-submit-button" class="btn" type="submit" style=""><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="col-3">

            </div>
            <div class="col-3 p-0 d-flex justify-content-end align-items-center align-content-center">
                <p style="color: #555b5e; font-weight: 400; margin-right: 10px;">Hello, j.r.woodworking@protonmail.com</p>
            </div>
        </div>
    </div>
    <main role="main" class="">
            @RenderBody()
    </main>
    

    @*<footer class="border-top footer text-muted">
        <div class="container" style="margin-left: 160px;">
            &copy; 2022 - InventoryManagementSystem
        </div>
    </footer>*@
    
    
</body>
</html>
