<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventoryManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InventoryManagementSystem.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Prompt:wght@200;300&family=Saira+Semi+Condensed:wght@300&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/ec51af881c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="sidenav">
        <div class="logo-div d-flex justify-content-center align-content-center align-items-center">
            <p style="color: white; margin: 0px; font-weight: 550;">INVENTORY MANAGEMENT</p>
        </div>
        <div class="profile-photo-div container d-flex justify-content-center align-content-center align-items-center">
            <img class="logo" src="https://res.cloudinary.com/dmremrlru/image/upload/v1652151736/Inventory_1_ejywba.png" alt="logo" />
        </div>
        <hr style="color: white; margin: 0px; margin: 0px 6px 0px 6px; margin-bottom: 5px; height: 2px;"/>
        <div class="container d-flex flex-column p-0">
            <a asp-controller="Order" asp-action="Index">Orders</a>
            <a asp-controller="" asp-action="">Clients</a>
            <a asp-controller="" asp-action="">Products</a>
            <a asp-controller="" asp-action="">Sales</a>
            <a asp-controller="" asp-action="">Analytics</a>
        </div>
        
    </div>
    <div class="nav-header d-flex justify-content-end align-items-end align-content-end">
        <p style="color: white; font-weight: 400; margin-right: 10px;">Hello, j.r.woodworking@protonmail.com</p>
    </div>
    <main role="main" class="">
            @RenderBody()
    </main>
    

    @*<footer class="border-top footer text-muted">
        <div class="container" style="margin-left: 160px;">
            &copy; 2022 - InventoryManagementSystem
        </div>
    </footer>*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
