@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>@ViewData["Title"] - InventoryManagementSystem</title>
    
    
@*    <link rel="stylesheet" href="~/InventoryManagementSystem.styles.css" asp-append-version="true" async/>
*@  
    <link rel="preconnect" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Prompt:wght@200;300&family=Saira+Semi+Condensed:wght@300&display=swap" rel="stylesheet" async>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" async/>
    


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" async></script>
    <script src="~/lib/Script/jquery.unobtrusive-ajax.js" defer></script>
    <script src="~/lib/jquery/dist/jquery.min.js" async></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" async></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>
    <script src="https://kit.fontawesome.com/ec51af881c.js" crossorigin="anonymous" async></script>
</head>
<body>



    <div class="mobile-header">
        <nav class="navbar navbar-expand-lg bg-light m-3" style="font-family: 'Inter',sans-serif; background-color: white !important; border-radius: 8px; z-index: 49; border-color: #f7f9fc; border-style: solid;">
  <div class="container-fluid">
    <a asp-controller="Home" asp-action="Index" class="navbar-brand" style="color: #737373">Business Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="background-image: url(&quot;data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e&quot;);"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a asp-controller="Home" asp-action="Index" class="nav-link-active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a asp-controller="Calender" asp-action="Index" class="nav-link" aria-current="page">Calender View</a>
        </li>
        <li class="nav-item">
          <a asp-controller="Order" asp-action="CreateOrder" class="nav-link" aria-current="page">Create Order</a>
        </li>
        <li class="nav-item">
          <a asp-controller="Tools" asp-action="Index" class="nav-link" aria-current="page">Tools</a>
        </li>
        <li class="nav-item">
          <a asp-controller="Analytics" asp-action="Index" class="nav-link" aria-current="page">Analytics</a>
        </li>
        <li class="nav-item">
          <a asp-controller="Account" asp-action="Register" class="nav-link" aria-current="page">Account</a>
        </li>
        
        
       
      </ul>
      <form id="search-by-name-form" action="/Order/SearchByName" class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search By Name" name="searchQuery">
        <button class="btn btn-outline-success" id="search-by-name-submit-button" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
        </div>
        
   
    <div class="sidenav">
        
        <div class="profile-photo-div container d-flex justify-content-center align-content-center align-items-center">
            <a asp-controller="Home" asp-action="Index"><img class="logo" src="https://res.cloudinary.com/dmremrlru/image/upload/v1652151736/Inventory_1_ejywba.png" alt="logo" /></a>
        </div>
        <hr style="color: white; margin: 0px; margin: 0px 6px 0px 6px; margin-bottom: 5px; height: 2px;"/>
        <div id="sidenav-links" class="container d-flex flex-column p-0">
            <a asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house" style="margin-right: 13px;"></i>Home</a>
            <a asp-controller="Calender" asp-action="Index"><i class="fa-regular fa-calendar" style="margin-right: 13px;"></i>Calender</a>
            <a asp-controller="Order" asp-action="CreateOrder"><i class="fa-regular fa-paste" style="margin-right: 13px;"></i>New Order</a>
            <a asp-controller="Tools" asp-action="Index"><i class="fa-solid fa-wrench" style="margin-right: 13px;"></i>Tools</a>
            <a asp-controller="Analytics" asp-action="Index"><i class="fa-solid fa-chart-column" style="margin-right: 13px;"></i>Analytics</a>
            <a asp-controller="Account" asp-action="Register"><i class="fa-regular fa-user" style="margin-right: 13px;"></i>Register</a>
        </div> 
        
    </div>
    <div class="nav-header" style="margin: 0px; margin-left: 220px !important;">
        <div class="row m-0 p-0" style="width: calc(100% - 220px);">
            <div class="col-6 p-0 d-flex justify-content-start align-content-center align-items-center">
                <form id="search-by-name-form" action="/Order/SearchByName">
                    <input id="search-by-name-input" type="text" placeholder="Search By Name" name="searchQuery" />
                    <button id="search-by-name-submit-button" class="btn" type="submit" style=""><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="col-3">

            </div>
            <div class="col-3 p-0 d-flex justify-content-end align-items-center align-content-center">
                @if (SignInManager.IsSignedIn(User)) 
                {
                        <p style="color: #555b5e; font-weight: 400; margin-right: 25px;">Hello, @UserManager.GetUserName(User).ToString()</p>
                        <form method="post" asp-controller="Account" asp-action="LogOut">
                                            <button type="submit" class="btn btn-sm  btn-outline-secondary" style="margin-right: 10px;">Sign Out</button>
                                   
                        </form>
                }
                else {

                }
            </div>
        </div>
    </div>
    <main role="main" class="">
            @RenderBody()
    </main>
    

    @*<footer class="border-top footer text-muted">
        <div class="container" style="margin-left: 160px;">
            &copy; 2022 - InventoryManagementSystem
        </div>
    </footer>*@
    
    
</body>
</html>
