

<form asp-controller="Order" asp-action="DeleteOrder" method="post" id="deleteForm1" role="form">
    <input type="hidden" name="Id" value="@Model.Id" />
    <button class="btn btn-danger order-table-button" type="submit" onclick="return confirm('Are you sure you want to delete this order?')"><i class="fa-solid fa-ban"></i></button>
</form>

