@using InventoryManagementSystem.Services;




@{
    //var order = new Order();
    //order.Price = 35;
    //order.Order_date = new DateTime(2020, 03, 03);
    //order.Order_date = new DateTime(2020, 03, 03);
    //order.Order_fulfillment_date = new DateTime(2020, 05, 03);
    //order.Com_thread = "Messenger";
    //order.Order_status = false;
    //order.Product_count = 2;




    //var customer = new Customer();
    //customer.First_name = "Quinten";
    //customer.Last_name = "Bruce";



    //order.Customer = customer;
    //ICreateOrder test = new CreateOrderService();
    //bool status = test.CreateOrder(order);

}

<h1>Hello</h1>
