@media (min-width: 768px) {
    main {
        margin-left: 220px;
    }

    .sidenav {
        height: 100%;
        width: 220px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #222d32;
        overflow-x: hidden;
    }

    .sidenav a {
        text-decoration: none;
        font-size: 25px;
        color: #dcdcdc;
        width: 220px;
        padding-left: 10px;
        padding-bottom: 2px;
    }

    .sidenav a:hover {
        color: #f1f1f1;
        background-color: #3c8dbc;
    }


    .logo-div {
        background-color: #367fa9;
        height: 56px;
    }

    .logo {
        width: 99%;
        height: 75%;
    }

    .profile-photo-div {
        height: 75px;
        word-wrap: break-word;
    }

    .profile-photo {
        border-radius: 50%;
        border-color: white;
        border-width: 2.6px;
        border-style: solid;
        width: 50px;
        height: 50px;
    }

    .logo-text {
        height: 40px;
        background-color: #1a2226;
       
    }
    .email-text-container {
        
    }

    .email-text {
        color: white;
        font-size: 80%;
    }

    .nav-header {
        height: 56px;
        width: 100vw;
        background-color: #3c8dbc;
    }




}

@media (max-width: 768px) {
    main {
        
    }

    .sidenav {
        display: none;
    }
}



