body {
    width: 100vw;
    height: 100vh;
    background-color: #f7f9fc;
}

body, html {
    overflow-x: hidden;
}

@media (min-width: 768px) {
    main {
        margin-left: 220px;
        position: absolute;
        top: 56px;
    }

    .mobile-header {
        display: none;
    }

    .sidenav {
        height: 100%;
        width: 220px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #293042;
        overflow-x: hidden;
    }

    #sidenav-links a {
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        text-decoration: none;
        font-size: 30px;
        color: #dcdcdc;
        width: 220px;
        padding-left: 10px;
        padding-bottom: 2px;
    }

        #sidenav-links a:hover {
            color: #f1f1f1;
            background-color: #3c8dbc;
        }

    .logo-div {
        background-color: #367fa9;
        height: 56px;
    }

    .logo {
        width: 99%;
        height: 75%;
    }

    .profile-photo-div {
        height: 75px;
        word-wrap: break-word;
    }

    .profile-photo {
        border-radius: 50%;
        border-color: white;
        border-width: 2.6px;
        border-style: solid;
        width: 50px;
        height: 50px;
    }

    .logo-text {
        height: 40px;
        background-color: #1a2226;
    }

    .email-text-container {
    }

    .email-text {
        color: white;
        font-size: 80%;
    }

    .nav-header {
        height: 56px;
        width: 100vw;
        background-color: #ffffff;
        display: flex;
        margin-left: 220px;
    }
}

@media (max-width: 768px) {
    main {
        position: absolute;
        top: 112px;
    }

    .sidenav {
        display: none;
    }

    .nav-header {
        display: none;
    }

    .mobile-header {
        height: 56px;
    }

    .mobile-header-top {
        height: 46px;
    }

    .mobile-header-bottom {
        height: 46px;
    }

    .mobile-header-links {
        text-decoration: none;
        color: white;
        font-size: 3.5vw;
        padding: 2px;
        border-bottom-style: solid;
        border-bottom-color: #222d32;
        border-bottom-width: 2px;
    }

    @media (max-width: 398px) {
        .mobile-header-links {
            font-size: 4vw;
        }
    }

    .mobile-header-links:hover {
        color: #222d32;
    }
}

.order-create-div {
    background-color: white;
    border-radius: 0.4rem !important;
    max-width: 2300px;
    box-shadow: 0 0 .875rem 0 rgba(41,48,66,.05);
}

label {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #5e5e5e;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
    color: #575757;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #555b5e;
    font-size: 1.7rem;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #555b5e;
    font-size: 1.4rem;
}

.order-display-div {
    background-color: white;
    border-radius: 0.4rem !important;
    max-width: 2300px;
    box-shadow: 0 0 .875rem 0 rgba(41,48,66,.05);
}

@media (max-width: 990px) {
    .order-header-row {
        display: none;
    }

    #order-display-header-hr {
        display: none;
    }
}

.order-row {
    padding: 0px;
}

@media (min-width: 991px) {
    .order-table-item {
        border-left-color: #c6c7c8;
        border-left-width: 1.9px;
        border-left-style: solid;
    }
}

@media (max-width: 2000px) {
    .order-table-header-item {
        font-size: 1.4vw;
        color: #555b5e;
        font-weight: 700;
    }
}

@media (min-width: 2000px) {
    .order-table-header-item {
        font-size: 30px;
        color: #555b5e;
        font-weight: 700;
    }
}

.order-table-date {
    color: #777;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.order-table-button {
    color: #6c757d !important;
    background-color: #f0f0f0 !important;
    border: none;
}

@media (max-width: 1200px) {
    .order-table-button {
        transform: scale(.7);
    }
}

@media (min-width: 1201px) {
    .order-table-button {
        scale: 1;
        margin: 3px;
    }
}

.center-justify-align {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    #home-page-container {
        width: calc(100vw - 220px);
    }
}

@media (max-width: 768px) {
    #home-page-container {
        width: calc(100vw);
    }
}



.page-header-text {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #555b5e;
}

.order-table-product-header {
    font-weight: 600;
    color: #555b5e !important;
}

@media (min-width: 991px) {
    .analytical-box-container {
        width: 19vw;
        height: 110px;
    }
}

.analytical-box-container {
    border-radius: 0.4rem !important;
    background-color: white;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 30% 40% 30%;
    grid-template-areas:
        "numerical icon"
        "description icon"
        "analytic analytic";
    box-shadow: 0 0 .875rem 0 rgba(41,48,66,.05);
}


@media (max-width: 1199px) {
    .analytical-box-container {
        width: 100%;
        height: 110px;
    }
}


.numerical-div {
    grid-area: numerical;
}

.numerical-description-div {
    grid-area: description;
}

.analytical-analysis-div {
    grid-area: analytic;
}

.icon-div {
    grid-area: icon;
}

.icon-parent {
    overflow: hidden;
    border-radius: 50%;
}

.icon-warning {
    color: #5688de;
    background-color: #e1e9fc;
}

.icon-normal {
    color: #7acc73;
    background-color: #d1f4d6;
}

.icon-urgent {
    color: #cc6068;
    background-color: #f2dddd;
}

.icon-brown {
    background-color: #d7b38c;
    color: #a4845b;
}

.dashboard-analytical-icon {
    padding: 5px;
    height: 51px;
    width: 51px;
    transform: scale(1.7);
    align-self: center;
}

.numerical-text {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 23px;
    color: #555b5e;
    margin-left: 10%;
}

.numerical-description-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #9b9a9f;
    margin-left: 10%;
}

.analytical-analysis-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #9b9a9f;
    margin-left: 2%;
}

.analytical-analysis-text-percent {
    /*background-color: #e0efe2;
    color: #95ceac;*/
    padding-left: 5.5px;
    padding-right: 5.5px;
    border-radius: .2rem;
    margin-left: 7%
}

.input-class {
    color: #6c757d;
}

.order-details-input-inactive {
    color: #6c757d;
    border: 1px solid #ced4da !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: .2rem;
    margin-left: calc(var(--bs-gutter-x) * .5);
}

.order-details-input-inactive::placeholder {
    color: #adadad;
}


.order-details-input-active {
    color: #4a4a4a; 
    border: 1px solid #ced4da !important;
    border-radius: .2rem;
    margin-left: calc(var(--bs-gutter-x) * .5);
}



.order-details-product-info-input-inactive, .order-details-payment-info-input-inactive {
    color: #6c757d;
    width: 100%;
    border: none;
    background-color: #00000000;
    padding-left: calc(var(--bs-gutter-x) * .5);
}


@media (min-width: 576px) and (max-width: 991px) {
    .order-details-product-info-input-inactive, .order-details-payment-info-input-inactive {
        color: #6c757d;
        width: 100%;
        border: 1px solid #ced4da !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        padding-left: calc(var(--bs-gutter-x) * .5);
    }   
}

@media (max-width: 991px) {
    .order-details-product-info-input-active, .order-details-payment-info-input-active {
        color: #6c757d;
        width: auto;
        border: 1px solid #ced4da !important;
        border-radius: .2rem;
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
}

@media (min-width: 992px) {
    .order-details-product-info-input-active, .order-details-payment-info-input-active {
        color: #6c757d;
        width: 100%;
        border: 1px solid #ced4da !important;
        border-radius: .2rem;
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
}






@media (min-width: 992px) {
    .order-details-product-textarea {
        width: 100% !important;
        padding-right: 9px;
    }
}

@media (max-width: 576px) {
    .order-details-product-textarea {
        width: 100% !important;
        padding-right: 9px;
    }
}





.color-pill {
    border-radius: 5px;
    overflow: hidden;
}

textarea {
    color: #555b5e;
}

.order-details-container {
    max-width: 2300px;
}

@media (min-width: 768px) {
    .order-details-container {
        width: calc(100vw - 220px);
    }
}

@media (max-width: 768px) {
    .order-details-container {
        width: calc(100vw);
    }
}

.order-details-customer-information, .order-details-order-information {
    background-color: white;
    box-shadow: 0 0 .875rem 0 rgba(41,48,66,.05);
    min-height: 380px;
}

@media (max-width: 991px) {
    .order-details-customer-information, .order-details-order-information {
        min-height: auto;
        height: auto;
    }
}

@media (min-width: 992px) and (max-width: 1144px){
    .order-details-customer-information, .order-details-order-information {
        min-height: 430px;
        height: auto;
    }
}

@media (min-width: 1145px) {
    .order-details-customer-information, .order-details-order-information {
        min-height: 390px;
        height: auto;
    }
}




.rounded {
    border-radius: 0.4rem !important;
}

.order-details-product-information {
    background-color: white;
    box-shadow: 0 0 .875rem 0 rgba(41,48,66,.05);
}


@media (max-width: 991px) {
    #order-details-product-information-header-row {
        display: none;
    }
}

@media (min-width: 992px) {
    .mobile-only-title {
        display: none;
    }
}

@media (max-width: 576px) {
    .mobile-only-title > p {
        font-weight: 400;
    }
}

.text-area {
    width: 100%;
}

.order-details-table-row {
    border-top-color: #dee6ed;
    border-top-style: solid;
    border-top-width: 1px;
}

.order-details-table-row-grey {
    background-color: #f4f7f9;
}




input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

input[type=number] {
    -moz-appearance: textfield;
}


#search-by-name-input {
    margin-left: 40px;
    background-color: #f3f6fb;
    border: none;
    padding: .35rem .75rem;
}

#search-by-name-input:focus {
    outline: none;
}