@using InventoryManagementSystem.Services;
@model InventoryManagementSystem.ViewModels.OrderViewModel









<div class="order-create-div rounded-3 m-3 p-3" style="">
    <div class="d-flex justify-content-center m-0 p-0">
        <h2>Add Order</h2>
    </div>
    <hr class="m-0 p-0"/>
    <form id="order-form" asp-controller="Order" asp-action="Index" method="post" class="row d-flex">
        <h4 class="mb-3 mt-2">Customer Information</h4>
        <div class="col-md-4 mb-2">
            <label asp-for="customer.First_name" class="form-label"></label>
            <input asp-for="customer.First_name" class="form-control form-control-sm"/>
        </div>
        <div class="col-md-4 mb-2">
            <label asp-for="customer.Middle_name" class="form-label"></label>
            <input asp-for="customer.Middle_name" class="form-control form-control-sm"/>
        </div>
        <div class="col-md-4 mb-2">
            <label asp-for="customer.Last_name" class="form-label"></label>
            <input asp-for="customer.Last_name" class="form-control form-control-sm"/>
        </div>
        <div class="col-md-4">
            <label asp-for="customer.Phone_number" class="form-label"></label>
            <input asp-for="customer.Phone_number" class="form-control form-control-sm" />
        </div>
        <div class="col-md-4">
            <label asp-for="order.Com_thread" class="form-label"></label>
            <select asp-for="order.Com_thread" class="form-select form-select-sm">
                <option selected>Select a communication thread</option>
                <option value="Marketplace">Marketplace</option>
                <option value="Page">Facebook Page</option>
                <option value="Phone">Phone (SMS)</option>
            </select>
        </div>
        <div class="col-md-4 mb-2">
            <div class="form-check" style="margin-bottom: .5rem;">
                <label asp-for="order.Delivery" class="form-check-label"></label>
                <input asp-for="order.Delivery" class="form-check-input" type="checkbox">
            </div>
            <div class="form-check">
                <label asp-for="order.Out_Of_Town" class="form-check-label"></label>
                <input asp-for="order.Out_Of_Town" class="form-check-input" type="checkbox">
            </div>
        </div>
        <h4 class="mb-3">Order Information</h4>
        <div class="col-md-4 mb-2">
            <label asp-for="order.Order_fulfillment_date" class="form-label"></label>
            <input asp-for="order.Order_fulfillment_date" class="form-control form-control-sm" type="date" placeholder="Order Fulfillment Date"/>    
        </div> 
        <div class="col-md-4">
            <label asp-for="paymentHistory.PaymentAmount" class="form-label"></label>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">$</span>
                <input asp-for="paymentHistory.PaymentAmount" class="form-control form-control-sm" type="number" step="0.01"/>
            </div>
        </div>
        <div class="col-md-4">
            <label asp-for="paymentHistory.PaymentType" class="form-label"></label>
            <select asp-for="paymentHistory.PaymentType" class="form-select form-select-sm">
                <option selected>Select a payment type</option>
                <option value="Venmo">Venmo</option>
                <option value="Cash App">Cash App</option>
                <option value="Cash">Cash</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <h4 class="mb-3">Product Information</h4>
        <div id="product-input-0">
            <div class="row">
            <div class="col-md-3 mb-2">
                <label asp-for="products[0].Name" class="form-label"></label>
                <input asp-for="products[0].Name" class="form-control form-control-sm" />    
            </div> 
            <div class="col-md-3 mb-2">
                <label asp-for="products[0].Description" class="form-label"></label>
                <textarea asp-for="products[0].Description" class="form-control form-control-sm" rows="1"></textarea>    
            </div> 
            <div class="col-md-2 mb-2">
                <label asp-for="products[0].Dimensions" class="form-label"></label>
                <input asp-for="products[0].Dimensions" class="form-control form-control-sm" />    
            </div> 
            <div class="col-md-2 mb-2">
                <label asp-for="categoryIds" class="form-label"></label>
                <select asp-for="categoryIds[0]" class="form-select form-select-sm">
                    <option selected>Select a category</option>
                    @foreach (var category in Model.categories)
                    {
                        <option value=@category.Id>@category.Name</option>
                    }
                </select>
            </div> 
            <div class="col-md-2 mb-2">
                <label asp-for="products[0].Price" class="form-label"></label>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">$</span>
                    <input asp-for="products[0].Price" class="form-control form-control-sm" type="number" step="0.01"/>
                </div>
            </div> 
           
            </div>
        </div>
        <div id="button-row" class="mb-2 mt-2 d-flex flex-row">
           <input id="order-input-submit" type="submit" value="Submit" class="btn btn-success"/>
           <button type="button"  class="btn btn-primary" onclick="addProduct()" style="margin-left: 10px;">Add Product</button>
           <button id="remove-product" type="button"  class="btn btn-danger" onclick="removeProduct()" style="margin-left: 10px;">Remove Product</button>
        </div>
    </form>
</div>








<div>
    
</div>

<script type="text/javascript">
    var productIndex = 0;
     if (productIndex == 0) {
         document.getElementById("remove-product").style.display = "none";
     }
    

    function addProduct() {
        productIndex += 1;
        if (productIndex == 0) {
            document.getElementById("remove-product").style.display = "none";
        }
        
        else {
            document.getElementById("remove-product").style.display = "initial";
        }
        var form = document.getElementById("order-form");
        var buttonRow = document.getElementById("button-row");
        var productDiv = document.getElementById("product-input-0").cloneNode(true);
        productDiv.id = "product-input-" + productIndex.toString();
        var productDivChildNodes = productDiv.children;
        productDivChildNodes[0].children[0].children[1].id = "products_" + productIndex.toString() + "__Name"; //product name input id and name update
        productDivChildNodes[0].children[0].children[1].setAttribute("name", "products[" + productIndex.toString() + "].Name");
        productDivChildNodes[0].children[0].children[1].value = "";
        productDivChildNodes[0].children[1].children[1].id = "products_" + productIndex.toString() + "__Description"; //product description id and name update
        productDivChildNodes[0].children[1].children[1].setAttribute("name", "products[" + productIndex.toString() + "].Description");
        productDivChildNodes[0].children[1].children[1].value = "";
        productDivChildNodes[0].children[2].children[1].id = "products_" + productIndex.toString() + "__Dimensions"; //product description id and name update
        productDivChildNodes[0].children[2].children[1].setAttribute("name", "products[" + productIndex.toString() + "].Dimensions");
        productDivChildNodes[0].children[2].children[1].value = "";
        productDivChildNodes[0].children[3].children[1].id = "categoryIds_" + productIndex.toString() + "_"; //product description id and name update
        productDivChildNodes[0].children[3].children[1].setAttribute("name", "categoryIds[" + productIndex.toString() +  "]");
        productDivChildNodes[0].children[3].children[1].value = "";
        productDivChildNodes[0].children[4].children[1].children[1].id = "categoryIds_" + productIndex.toString() + "_"; //product description id and name update
        productDivChildNodes[0].children[4].children[1].children[1].setAttribute("name", "products[" + productIndex.toString() +  "].Price");
        productDivChildNodes[0].children[4].children[1].children[1].value = "";

        form.insertBefore(productDiv, buttonRow);

     }

    function removeProduct() {
        productIndex -= 1;

        if (productIndex <= 0) {
            document.getElementById("remove-product").style.display = "none";
            document.getElementById("product-input-" + (productIndex + 1).toString()).remove();
        }
        
        else {
            document.getElementById("remove-product").style.display = "initial";
            document.getElementById("product-input-" + (productIndex + 1).toString()).remove();
        }


        
     }



      

      
</script>

@{
    
    
}